.cpcontent
{
    width: 450px;
    height:300px;
    /*the below 3 lines is used to get the box in middle*/
    left : 50%;
    top:50%;
    transform: translate(-50%, -50%);
    position: absolute;
    border: 1px solid black;

}

.cpcontent h3{
    text-align: center;
}

.button{
   
    height:30px;
    background-color: red;
    color:white;
    border:none;
    cursor: pointer;
  }

  .button:hover{

    background:green;
  }